* {
    font-family: "3270Medium Nerd Font Mono", sans-serif;
    font-size: 18px;
    color: #ffffff;
    padding: 3px 0px 3px 0px;
    font-weight: bold;
}
window {
	/*font-weight: bold;*/
}
window#waybar {
    background: rgba(0, 0, 0, 0.55);
    border-top: 2px solid #56e3a3;
}
.modules-right {
    margin: 2px 10px 0px 0px;
}
.modules-left {
}
#clock {
    padding: 0px 10px 0px 10px;
    border-style: solid;
    /*border-color: #ffffff*/
    border-color: #aaaaaa;
    border-radius: 10px;
    border-width: 3px;
    /*background-color: #222222;*/
    background-color: rgba(0, 0, 0, 0.45);
}
#custom-config,
#custom-Documenti,
#custom-dotfiles,
#custom-Downloads{
    margin: 0px 5px 0px 5px;
    padding: 0px 10px 0px 10px;
    border-style: solid;
    /*border-color: #ffffff*/
    border-color: #aaaaaa;
    border-radius: 10px;
    border-width: 3px;
    /*background-color: #222222;*/
    background-color: rgba(0, 0, 0, 0.45);
}
