* {
    font-family: "3270Medium Nerd Font Mono", sans-serif;
    font-size: 22px;
    color: #ffffff;
    padding: 2px 0px 0px 0px;
    font-weight: bold;
}
window {
	/*font-weight: bold;*/
}
window#waybar {
    background: rgba(0, 0, 0, 0);
    border-color: #ffffff;
}
.modules-right {
    margin: 2px 10px 0px 0px;
}
.modules-center {
	margin: 2px 40px 0px 40px;
    padding: 0px 10px 0px 10px;
    border-style: solid;
    border-color: #aaaaaa;
    border-radius: 10px;
    border-width: 3px;
    /*background-color: #222222;*/
    background-color: rgba(0, 0, 0, 0.45);
}
.modules-left {
    margin: 2px 0px 0px 10px;
}
#custom-mute {
    padding: 0px 10px 0px 10px;
    margin: 0px 5px 0px 5px;
    border-style: solid;
    /*border-color: #ffffff;*/
    border-color: #aaaaaa;
    border-radius: 10px;
    border-width: 3px;
    /*background-color: #222222;*/
    background-color: rgba(0, 0, 0, 0.45);
}
#custom-calc {
    padding: 0px 10px 0px 10px;
    margin: 0px 5px 0px 5px;
    border-style: solid;
    /*border-color: #ffffff;*/
    border-color: #aaaaaa;
    border-radius: 10px;
    border-width: 3px;
    /*background-color: #222222;*/
    background-color: rgba(0, 0, 0, 0.45);
}
#custom-shutdown {
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 0px 5px;
    border-style: solid;
    /*border-color: #ffffff;*/
    color: #ff5555;
    border-color: #ff5555;
    border-radius: 10px;
    border-width: 3px;
    /*background-color: #222222*/
    background-color: rgba(0, 0, 0, 0.45);
}
#pulseaudio {
    padding: 0px 10px 0px 10px;
    margin: 0px 5px 0px 5px;
    border-style: solid;
    /*border-color: #ffffff;*/
    border-color: #aaaaaa;
    border-radius: 10px;
    border-width: 3px;
    /*background-color: #222222;*/
    background-color: rgba(0, 0, 0, 0.45);
}
#clock {
    padding: 0px 10px 0px 10px;
    border-style: solid;
    /*border-color: #ffffff*/
    border-color: #aaaaaa;
    border-radius: 10px;
    border-width: 3px;
    /*background-color: #222222;*/
    background-color: rgba(0, 0, 0, 0.45);
}
