*{
    font-family: "3270Medium Nerd Font Mono", sans-serif;
    font-size: 24px;
    color: #ffffff;
    padding: 2px 0px 0px 0px;
    font-weight: bold;
}
window {
	/*font-weight: bold;*/
}
window#waybar {
    background: rgba(0, 0, 0, 0);
    border-color: #ffffff;
}
.modules-right {
    margin: 2px 10px 0px 0px;
}
.modules-center {
	margin: 2px 40px 0px 40px;
    padding: 0px 10px 0px 10px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 10px;
    border-width: 3px;
    /*background-color: #222222;*/
    background-color: rgba(0, 0, 0, 0.30);
}
.modules-left { 
}
#custom-shutdown{
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 0px 5px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 10px;
    border-width: 3px;
    /*background-color: #222222*/
    background-color: rgba(0, 0, 0, 0.30);
}
#pulseaudio{
    padding: 0px 10px 0px 10px;
    margin: 0px 5px 0px 0px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 10px;
    border-width: 3px;
    /*background-color: #222222;*/
    background-color: rgba(0, 0, 0, 0.30);
}
#clock{
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 10px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 10px;
    border-width: 3px;
    /*background-color: #222222;*/
    background-color: rgba(0, 0, 0, 0.30);
}
