window {
margin: 0px;
border-width: 8px;
background-color: rgba(0, 0, 0, 0);
}

#input {
margin: 5px;
font-family: "3270Medium Nerd Font Mono";
font-size: 20px;
font-weight: bold;
border: none;
color: #f8f8f2;
background-color: #44475a;
}

#inner-box {
margin: 5px;
}

#outer-box {
margin: 5px;
border: none;
background-color: rgba(0, 0, 0, 0);
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
font-family: Cascadia Code;
border: none;
font-family: "3270Medium Nerd Font Mono";
font-size: 20px;
font-weight: bold;
color: #f8f8f2;
border-width: 8px;
background-color: rgba(0, 0, 0, 0); 
}

#entry {
background-color: #44475a;
}
